# System(s)
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.LSOverride
.Spotlight-V100
.Trashes
._*
.apdisk
.vscode
Icon

# Environment
/docker-compose.override.yml
/venv

# Build/run artifacts
*$py.class
*.py[cod]
.coverage
.env
.tern-port
/htmlcov
/logs
/node_modules
/sherbet/static/
__pycache__/
celerybeat*

# Keep!
!/**/.gitkeep
