## Compose (Local) Configuration
##
## Values matching "<some-value>" should be updated and
## may occur in more than one place!
##
## NOTE: quotes around values become part of the value
## NOTE: e.g., foo="bar"; echo $foo -> "bar"


## ------------------
## Django
## ------------------

# Debug (ddtb, errors, etc.) (always true in settings.local)
DJANGO_DEBUG=1
# Automatically run migrations?
DJANGO_RUN_MIGRATIONS=0
# Secret key: To generate:
#   >>> import django
#   >>> from django.core.management.utils import get_random_secret_key
#   >>> get_random_secret_key()
DJANGO_SECRET_KEY=<django-secret-key>
# Settings to use
DJANGO_SETTINGS_MODULE=config.settings.local


## ------------------
## Celery
## ------------------

# amqp://[user]:[pass]@[host]:[port]
# @see: RabbitMQ (below)
CELERY_BROKER_URL=amqp://sherbet:<rabbitmq-pass>@rabbitmq:5672
# Celery Flower (web UI)
CELERY_FLOWER_PASS=<celery-flower-pass>
CELERY_FLOWER_PORT=5555
CELERY_FLOWER_USER=sherbet


## ------------------
## MailHog
## ------------------

# Host / Port
MAILHOG_HOST=mailhog
MAILHOG_PORT=1025


## ------------------
## Memcached
## ------------------

# Host/port/socket
MEMCACHED_LOCATION=memcached:11211


## ------------------
## Postgres
## ------------------

# Postgres database
POSTGRES_DB=postgres
# Postgres user/pass
POSTGRES_PASSWORD=<postgres-pass>
POSTGRES_USER=postgres


## ------------------
## RabbitMQ
## ------------------

# Broker user/pass
RABBITMQ_DEFAULT_PASS=<rabbitmq-pass>
RABBITMQ_DEFAULT_USER=sherbet


## ------------------
## Webpack
## ------------------

# Webpack origin
WEBPACK_ORIGIN_HOST=frontend
WEBPACK_ORIGIN_PORT=8001

# Webpack target
WEBPACK_TARGET_HOST=django
WEBPACK_TARGET_PORT=8000
