{% load static %}

{% get_static_prefix as static_prefix %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="TODO: Page Description" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% endblock %} - Sherbet</title>
    <link href="{% static "/public.styles.css" %}" rel="stylesheet" />
    {% block html_head %}{% endblock %}
  </head>
  <body>

    <header class="global-header">
      <div class="global-header__container"></div>
    </header>

    <main role="main" class="main">
      {% include '_messages.html' %}
      {% block content %}{% endblock %}
    </main>

    <footer class="global-footer">
      <div class="global-footer__container"></div>
    </footer>

    {% if debug %}
      <style type="text/css">
        /* "body" to win specificity but allow inline overrides */
        body #djDebug #djDebugToolbarHandle { top: 80%; }
      </style>
    {% endif %}

    <script type="text/javascript" src="{{ webpack_proxy }}{{ static_prefix }}public.bundle.js"></script>
  </body>
</html>
